[Unit]
Description=Update openqa-trigger-from-obs git repository
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/git -C /opt/openqa-trigger-from-obs pull --quiet --rebase origin master
User=geekotest
