[Unit]
Description=Update git repository of openqa-trigger-from-obs

[Timer]
OnCalendar=*:0/3
Unit=openqa-trigger-from-obs-update.service

[Install]
WantedBy=timers.target
